


/* Fonts*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);




/* ESTILOS GENERALES*/


body{
	
	line-height:30px;
	color:#4d4d4d;
	background: #fff;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	font-weight: 300;
	
}
a{	
	color: #232323;
	letter-spacing: 1px;
	font-weight: 400;

}

p{
	
	color:#33454E;
	line-height: 27px;
	font-weight:300;
	color: #9a9a9a;
	word-wrap: break-word;
	font-size: 1.2em;
}
h1 {color:#4d4d4d;
	font-size:2em;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}



h2 {
	
	color:#b91e1f;
	font-size: 1.8em;
	font-weight: 200px;
	

}



h3 {

	font-size:.1.5em;
	color:#14C3A2;
	padding-bottom: 0.4em;
}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}


img{
	max-width: 100%;
}
.clearfix{
	width:1px;
	height:1px;	
	display:block;
	clear:both;
	content:" , ";
}


.contenedor{

	padding: 4em 0em;
}




/*Header*/
.header__logo{
	
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;

}

/*Nav*/

.header__nav{
	border-top:2px solid #DBDCE0;
/*	font-family: 'Didact Gothic', sans-serif;*/
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	
	font-size: 1em;
	text-align: center;

}


.navbar-default {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%)!important;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .15), 0 0px 0px rgba(0, 0, 0, .075)!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}


.navbar-default {
    background-color: #fff!important;
    border-color: #fff!important;
    
}

.navbar-default .navbar-nav > li > a {
    color:#DBDCE0;
    font-size:1.6em;  
    font-weight: 100;
    opacity: 0.5; 
}

.nav.navbar-nav{
	margin-left: -2em;
	width: 105%;
}

.nav.navbar-nav li{
	margin-right: 2.5em;
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(8){
	margin-right: 0.5em;
	margin-top: -5px;

}

.socials{
	position: absolute;
	left: 82%;
	top:80%;
}

.socials ul li{
	display: inline-block;
	font-size: 1.9em;
	margin-right: 1em;
}

.socials ul li a{
	color:#B9B9C3;
} 


#footer{
	padding-top: 4em;
	text-align: center;

}

#footer img{
	opacity: 0.5;
}

.footer__item{
	border-right:1px solid #DBDCE0;
	min-height: 7.5em;
	padding-right: 2em;
}

#footer > div > div > div.col-md-10.col-md-offset-1 > div:nth-child(3) > div{
	border-right: none;
}

.footer__copyright h3{
	color:#BEBEC8;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	font-weight: 600;
	margin-top: 3.5em;
	padding-bottom: 0.5em;
}




/*************Secciones ****************/

.activeL a{
	color:#B6DBE3!important;
}

.slide img{
	width: 100%;
}



/***************mediaqueries*******************/
@media screen and (max-width:1366px) {
	.navbar-default .navbar-nav > li > a {
    	font-size:1.2em;  
    	font-weight: 100; 
	}

	.nav.navbar-nav li{
		margin-right: 0.5em;
	}

	.socials ul li{
		font-size: 1.6em;
	}
	
}


@media screen and (max-width:1280px) {
	.navbar-default .navbar-nav > li > a {
    	font-size:1.1em;  
    	font-weight: 100; 
	}

	.nav.navbar-nav li{
		margin-right: 0.4em;
	}
	
	.socials{
		left: 80%;
		top:83%;
	}
	.socials ul li{
		font-size: 1.4em;
	}
	
}


@media screen and (max-width:1024px) {
	.navbar-default .navbar-nav > li > a {
    	font-size:0.8em;  
    	font-weight: 100; 
	}

	.nav.navbar-nav li{
		margin-right: 0.1em;
	}
	
	.socials{
		left: 80%;
		top:88%;
	}
	.socials ul li{
		font-size: 1.1em;
	}
	
}


@media screen and (max-width:768px) {
	
	.footer__item{
		border-right:0px;
		
	}
}

@media screen and (max-width:480px) {
	.header__logo img{
		width: 40%;
	}

	.header__nav {
    	border-top: 0px solid #DBDCE0;
    	margin-top: 1.3em;
	}

	.nav.navbar-nav {
    	margin-left: 0.5em;
       	width: 100%;
	}

	.socials{
		left: 38%;
		top:100%;
	}
	
	.socials ul li{
		font-size: 1.3em;
	}	

	.navbar-default .navbar-nav{
		text-align: center;
	}
	
	#footer{
		text-align: center;
	}

	#footer img{
		width: 40%;
	}
}
